@tailwind base;
@tailwind components;
@tailwind utilities;
/* .accordion {
    margin-top: 10px;
} */

.accordion-container {
    border: 1px solid #dadada;
    margin-bottom: 28px;
}
.accordion-container:last-of-type {
    margin-bottom: 0;
}

.accordion-title {
    background-color: #fff;
    color: #010327;
    font-size: 16px;
    padding: 12px 12px 12px 18px;
    position: relative;
    cursor: pointer;
    user-select: none;
    text-align: left;
}

.accordion-title::before,
.accordion-title::after {
    content: "";
    display: block;
    background-color: #c1c1c1;
    position: absolute;
    top: 50%;
    width: 15px;
    height: 1px;
    right: 25px;
}

.accordion-title::after {
    transform: rotate(90deg);
    transition-duration: 0.3s;
}

.accordion-title:hover,
.accordion-title:active,
.accordion-title.is-active {
}

.accordion-title.is-active::before {
    opacity: 0;
}

.accordion-title.is-active::after {
    transform: rotate(0);
}

.accordion-content {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0 18px;
    line-height: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.3s;
}

.accordion-content.is-open {
    padding: 8px 18px;
    margin: 12px 0;
    line-height: normal;
    /* numberに書き換える*/
    height: auto;
    opacity: 1;
}
.gga_border {
    width: 100%;
    height: 0.5px;
    background-color: #dadada;
}

.min-height {
    min-height: 80vh;
}
@media screen and (min-width: 640px) {
    .min-height {
        min-height: 78vh;
    }
}

.riskImg_container {
    width: 100%;
    height: auto;
    margin-top: 1rem;
}
.riskImg_container img {
    width: 100%;
    height: auto;
}
.move_container {
    display: flex;
    margin-left: 0.8rem;
    margin-top: -1rem;
}
.move_border {
    border-left: 2px dashed #767676;
    /* height: 68px; */
    /* width: 2px; */
}
.illust {
    width: 100%;
    padding-top: 40px;
    margin-bottom: 60px;
}

.bg-color {
    background-color: #fff;
}

@media screen and (min-width: 640px) {
    .bg-color {
        background-color: #f6f7fa;
    }
}

.nav {
    border-radius: 0 0 48px 48px;
}
/* .pt-0.5 {
    padding-top: 0.5rem;
} */

/* map */

.map-wrap {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    aspect-ratio: 16/14;
}
.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
